body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,select,option,textarea,p,blockquote,th,td{padding:0;margin:0;}
a img{
	border:none;
}

body{
	width:100%;
	background:url(../images/background.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.banner{
width:1100px;
height:366px;
margin:0px auto;
}
.wrap{
width:1100px;
height:500px;
margin:0 auto;
background:url(../images/photo_frame.png);
}
.focus{
width:972px;
height:355px;
position:relative;
top:73px;
left:64px;
}
.footer{
width:1100px;
height:110px;
margin:0px auto;
background-color:f0e6d2;
}

.font{
line-height:35px;
font-family:黑体;
}
.wrap2{
width:800px;
height:500px;
margin:0 auto;
line-height:35px;
font-family:黑体;}
.wrap2 .title{
font-size:25px;
text-align:center;
}


.br{
margin-top:30px;
text-indent:2em;
}
.pic{
width:800px;
text-align:center;
margin:0 auto;
}
.pic .img{
 padding-right:50px;
}
 .top{
margin-top:30px;
}
